{% extends 'base.html.twig' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{{ 'breadcrumbs.home' | trans }}</a></li>
        <li><a href="{{ path('domain') }}">{{ 'breadcrumbs.domains.title' | trans }}</a></li>
        <li><a href="{{ path('domain-view', {'domain': domain.id}) }}">{{ domain.domainName }}</a></li>
        <li><a href="{{ path('email-index', {'domain': domain.id}) }}">{{ 'breadcrumbs.email.title' | trans }}</a></li>
        <li><a href="{{ path('email-new', {'domain': domain.id}) }}">{{ 'breadcrumbs.email.new' | trans }}</a></li>
    </ol>

    <div class="uk-padding email-new">
        <div class="alert alert-info">
            {{ 'mailbox.new.info' | trans }}
        </div>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_errors(form.login) }}
            {{ form_label(form.login) }}
            <div class="col-sm-10">
                <div class="input-group">
                    {{ form_widget(form.login) }}
                    <div class="input-group-addon">@{{ domain.domainName }}</div>
                </div>
                <small class="help-block">{{ 'mailbox.new.login.info' | trans({'%domain%': domain.domainName}) | raw }}</small>
            </div>
        </div>

        <div class="form-group">
            {{ form_errors(form.password) }}
            {{ form_label(form.password) }}
            <div class="col-sm-10">
                {{ form_widget(form.password) }}
                <small class="help-block">{{ 'mailbox.new.password.info' | trans }}</small>
            </div>
        </div>

        <div class="uk-flex-inline" uk-grid>
            <div><a href="{{ path('email-index', {'domain': domain.id}) }}" class="btn btn-info">{{ 'mailbox.new.cancel' | trans }}</a></div>
            <div>{{ form_widget(form.save) }}</div>
        </div>
        {{ form_rest(form) }}
    </div>

{% endblock content %}