{% extends 'base.html.twig' %}

{% block content %}
        <div class="uk-flex uk-flex-center">
            <div class="uk-card uk-card-default uk-width-1-2@m">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-margin-remove-bottom">{{ domain.domainName }}</h3>
                            <p class="uk-margin-remove-top">Registered on {{ domain.registeredAt | date }} <br />Expires on {{ domain.expiresAt | date }}</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <table class="uk-table">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>ID Gandi</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for contact in domain.contacts %}
                            <tr>
                                <td>{{ contact.contactType | contact_type | trans }}</td>
                                <td>{{ contact.gandiId }} {% spaceless %}
                                        {% if contact.gandiId == ourGandiId %}
                                            (nous)
                                        {% endif %}
                                    {% endspaceless %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <hr />
                    <ul>
                        <li>Status: {{ domain.status | domain_status | trans }}</li>
                        <li>Zone used: {% if domain.dnsZone is not null %}<a href="{{ path('admin-info-zone', {'zone': domain.dnsZone}) }}">{{ domain.dnsZone }}</a>{% endif %}</li>
                        {% if domain.registeredByFrama %}
                            <li><a href="{{ path('email-index', {'domain': domain.id}) }}">Boites email activées : {{ nbMailBoxes }}/5</a></li>
                            <li>Commandes:
                                <ul>{% for command in domain.commands %}
                                    <li><a href="{{ path('command-view', {'command': command.id}) }}">{{ command.createdAt | date }}</a></li>
                                {% endfor %}</ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="uk-card-footer">

                </div>
            </div>
        </div>
{% endblock %}
