{% extends 'base.html.twig' %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="{{ path('homepage') }}">{{ 'breadcrumbs.home' | trans }}</a></li>
    <li><a href="{{ path('settings') }}">{{ 'breadcrumbs.settings.title' | trans }}</a></li>
    <li><a href="{{ path('delete-all-data') }}">{{ 'breadcrumbs.settings.account.delete_all_data' | trans }}</a></li>
</ol>


    <div class="clearfix delete-account">
        <h3>{{ 'user.delete.title' | trans }}</h3>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

        <p>{{ 'user.delete.recap.one' | trans }}</p>
        {% if app.user.domains | length > 0 %}
            <div class="alert alert-danger">
                {{ 'user.delete.recap.domains.header' | trans }}
                <ul>
                    {% for domain in app.user.domains %}
                        {% if domain.registeredByFrama %}
                            <li>{{ domain.domainName }}</li>
                        {% else %}
                            <li>{{ domain.domainName }} ({{ 'user.delete.recap.domains.domain_not_frama' | trans }})</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {{ 'user.delete.recap.domains.footer' | trans }}
            </div>
        {% endif %}

        {% if app.user.sites | length > 0 %}
            <div class="alert alert-danger">
                {{ 'user.delete.recap.sites.header' | trans | raw }}
                <ul>
                    {% for site in app.user.sites %}
                        <li>{{ site.subdomain }}.frama.{% spaceless %}{% if site is blog %}
                            site
                        {% elseif site is wiki %}
                            wiki
                        {% endif %}{% endspaceless %}</li>
                    {% endfor %}
                </ul>
                {{ 'user.delete.recap.sites.footer' | trans }}
            </div>
        {% endif %}
        <div class="alert alert-danger">
            {{ 'user.delete.recap.account' | trans({'%username%': app.user.username}) }}
        </div>

        <p>{{ 'user.delete.recap.password_prompt' | trans }}</p>

        <div class="form-group">
            {{ form_label(form.password) }}
            <div class="col-sm-10">
                {{ form_errors(form.password) }}
                {{ form_widget(form.password) }}
                <small class="help-block">{{ 'user.delete.form.password.info' | trans }}</small>
            </div>
        </div>

        <a href="{{ path('settings') }}" class="btn btn-default">{{ 'user.delete.form.cancel' | trans }}</a>
        <div class="pull-right">
            {{ form_widget(form.save) }}
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}