{% extends 'base.html.twig' %}

{% block content %}

    <h2>{{ 'site.list.title.site' | trans }}</h2>
    {% if sites | length > 0 %}
        {{ sites | length }} sites crées
        <table class="table">
            <thead>
            <tr>
                <td>{{ 'site.subdomain' | trans }}</td>
                <td>{{ 'site.list.user' | trans }}</td>
                <td>{{ 'domain.action.label' | trans }}</td>
            </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr>
                    <td>{{ site.subdomain }}.frama.site</td>
                    <td><a href="{{ path('user_view', {'id': site.user.id}) }}">{{ site.user.username }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'domain.list.empty' | trans }}
    {% endif %}

    <h2>{{ 'site.list.title.wiki' | trans }}</h2>
    {% if wikis | length > 0 %}
        {{ wikis | length }} wikis crées
        <table class="table">
            <thead>
            <tr>
                <td>{{ 'site.subdomain' | trans }}</td>
                <td>{{ 'site.list.user' | trans }}</td>
                <td>{{ 'domain.action.label' | trans }}</td>
            </tr>
            </thead>
            <tbody>
            {% for site in wikis %}
                <tr>
                    <td>{{ site.subdomain }}.frama.wiki</td>
                    <td><a href="{{ path('user_view', {'id': site.user.id}) }}">{{ site.user.username }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'domain.list.empty' | trans }}
    {% endif %}

    <h2>{{ 'site.list.title.page' | trans }}</h2>
    {% if pages | length > 0 %}
        {{ pages | length }} pages créées
        <table class="table">
            <thead>
            <tr>
                <td>{{ 'site.subdomain' | trans }}</td>
                <td>{{ 'site.list.user' | trans }}</td>
                <td>{{ 'domain.action.label' | trans }}</td>
            </tr>
            </thead>
            <tbody>
            {% for site in pages %}
                <tr>
                    <td>{{ site.subdomain }}.frama.site</td>
                    <td><a href="{{ path('user_view', {'id': site.user.id}) }}">{{ site.user.username }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'domain.list.empty' | trans }}
    {% endif %}
{% endblock %}
