<p>Prêt⋅e ? C'est parti !</p>
<ol>
<li>
    <p>Sélectionnez votre domaine dans la liste de vos domaines</p>
    <img src="https://docs.framasoft.org/fr/framasite/images/OZQF4DapmZk9.png" />
</li>
<li>
    <p>après avoir cliqué sur le domaine, cliquez sur "Créer une copie"</p>
    <img src="https://docs.framasoft.org/fr/framasite/images/cSMVpYbtAJbB.png" />
</li>
<li>
    <p>Après avoir validé l'écran intermédiaire, cliquez sur "Éditez la zone"</p>
    <img src="https://docs.framasoft.org/fr/framasite/images/7mODN5w2BcGz.png" />
</li>
<li>
    <p>Vérifiez que vous êtes en mode "Normal", puis cliquez sur "Créez une nouvelle version"</p>
    <img src="https://docs.framasoft.org/fr/framasite/images/jMZze1seQkYx.png" />
</li>
<li>
    <p>Cliquez sur le bouton permettant d'éditer la première ligne (Nom <code style="font-size: 1.2rem;">@</code>, type <code style="font-size: 1.2rem;">A</code>)</p>
    <img src="https://docs.framasoft.org/fr/framasite/images/W5vv5LWjlKc6.png"/>
</li>
<li>
    <p>Repérez le champ "valeur" qui sera remplacé</p>
    <img src="https://docs.framasoft.org/fr/framasite/images/3pwYlTEefoJc.png"/>
</li>
<li>
    <p>Saisissez <code style="font-size: 1.2rem;">144.76.131.210</code> comme valeur, puis validez</p>
    <img src="https://docs.framasoft.org/fr/framasite/images/MZ2JjC00UBlj.png"/>
</li>
<li>
    <p>De retour sur l'écran précédent, cliquez sur "Ajout" en bas de page</p>
    <img src="https://docs.framasoft.org/fr/framasite/images/HcVbD8Uy7hYF.png"/>
</li>
<li>
    <p>Ajoutez un champ de type <code style="font-size: 1.2rem;">AAAA</code>, de nom <code style="font-size: 1.2rem;">@</code> et de valeur <code style="font-size: 1.2rem;">2a01:4f8:141:3421::210</code>, puis validez</p>
    <img src="https://docs.framasoft.org/fr/framasite/images/bU1trHhKptkU.png"/>
</li>
<li>
    <p>Enfin, étape importante, cliquez bien sur "Activez cette version"</p>
    <img src="https://docs.framasoft.org/fr/framasite/images/ECmXUBH0Ab3H.png"/>
<p>Voilà ! Le plus dur est fait :)
    Mais ça n'est pas fini :-/</p>
</li>
<li>
    <p>Attendez quelques heures. Ce temps est nécessaire pour la mise à jour des informations. Comptez en gros en 3H et 24H.</p>
</li>
<li>
    <p>Sur frama.site, allez sur la page <a class="btn btn-default" href="{{ path('attach-domain') }}" target="_blank" rel="noopener noreferrer">Rattacher un domaine</a><br />
    (TO BE CONTINUED)</p>
</li>
</ol>
