{% extends 'default/settings/base.html.twig' %}

{% block settings %}
    <div role="tabpanel" class="tab-pane active" id="settings">
        <div class="uk-flex" uk-grid>
            <div class="uk-width-expand uk-card uk-card-default uk-card-body">
                <h2>{{ 'settings.title' | trans }}</h2>
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}
                <div class="form-group clearfix">
                    {{ form_label(form.locale) }}
                    {{ form_errors(form.locale) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.locale) }}
                        <small class="help-block">{{ 'settings.languages.desc' | trans }}</small>
                    </div>
                </div>

                <div class="form-group clearfix">
                    {{ form_label(form.gandiId) }}
                    {{ form_errors(form.gandiId) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.gandiId) }}
                        <small class="help-block">{{ 'settings.gandiId.desc' | trans }}</small>
                    </div>
                </div>

                <div class="alert alert-warning">
                    {{ 'settings.save_warning' | trans }}
                </div>

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                <a class="btn btn-default" href="{{ path('homepage') }}">{{ 'settings.cancel' | trans }}</a>
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
{% endblock %}