{% extends 'base.html.twig' %}

{% block content %}
    <div class="payment-cancelled">
        <h1>{{ 'payment.cancelled.title' | trans }}</h1>
        <p>{{ 'payment.cancelled.body' | trans }}</p>
        <a href="{{ path('command-view', {'command': command.id }) }}" class="btn btn-primary">{{ 'payment.cancelled.back' | trans }}</a>
    </div>
{% endblock %}